@page
@model OpenAiQuickStartCSharp.Pages.IndexModel

<!DOCTYPE html>
<html>
<head>
    <title>My Page Title</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
</head>
<body>
<form class="centered-form" method="post">
    <h1>🐕‍🦺</h1>
    <label for="my-input">Name my pet</label>
    <input placeholder="Enter an animal" type="text" id="my-input" name="myInput"/>
    <button type="submit">Generate names</button>
</form>
</body>
</html>